# azure-pipelines-build.yml
trigger:
- main   # or none if you want manual

variables:
  acrName: allvysharedacr
  acrLoginServer: $(acrName).azurecr.io
  imageName: swm-route-optimizer

stages:
- stage: Build
  displayName: Build & Push Image
  jobs:
  - job: BuildJob
    pool:
      vmImage: ubuntu-latest

    steps:
    - checkout: self
      clean: true

    - task: AzureCLI@2
      displayName: Azure Login + ACR Login
      inputs:
        azureSubscription: agent-route-final-sc
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az acr login --name $(acrName)

    - script: |
        docker buildx create --use
        docker buildx inspect --bootstrap
      displayName: Enable Docker Buildx

    - script: |
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          -t $(acrLoginServer)/$(imageName):$(Build.BuildId) \
          -t $(acrLoginServer)/$(imageName):latest \
          --push \
          .
      displayName: Build & Push Image

    - task: CopyFiles@2
      displayName: Copy K8s Manifests
      inputs:
        contents: manifests/*.yaml
        targetFolder: $(Build.ArtifactStagingDirectory)
    - task: PublishBuildArtifacts@1
      displayName: Publish Manifests
      inputs:
        pathToPublish: $(Build.ArtifactStagingDirectory)
        artifactName: manifests
