trigger:
  - none  # Enable when ready

pool:
  vmImage: ubuntu-latest

variables:
  acrName: allvysharedacr
  acrLoginServer: $(acrName).azurecr.io
  imageName: swm-route-optimizer
  buildTag: $(Build.BuildId)

steps:
  - checkout: self
    clean: true
    displayName: Checkout source code

  - task: AzureCLI@2
    displayName: Azure Login and ACR Login
    inputs:
      azureSubscription: agent-route-final-sc
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        echo "Logging into ACR..."
        az acr login --name $(acrName)

  - script: |
      docker buildx create --name multiarch-builder --use
      docker buildx inspect --bootstrap
    displayName: Enable Docker Buildx

  - script: |
      docker buildx build \
        --platform linux/amd64,linux/arm64 \
        -t $(acrLoginServer)/$(imageName):$(buildTag) \
        -t $(acrLoginServer)/$(imageName):latest \
        --push \
        .
    displayName: Build and Push Multi-Arch Docker Image

  - task: CopyFiles@2
    displayName: Copy Kubernetes Manifests
    inputs:
      contents: manifests/**/*.yaml
      targetFolder: $(Build.ArtifactStagingDirectory)/manifests

  - task: PublishBuildArtifacts@1
    displayName: Publish Manifest Artifact
    inputs:
      pathToPublish: $(Build.ArtifactStagingDirectory)/manifests
      artifactName: manifests
      publishLocation: Container
