apiVersion: v1
kind: Service
metadata:
  name: swm-route-optimizer
  labels:
    app: swm-route-optimizer
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
  selector:
    app: swm-route-optimizer